*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-family: poppins;
}
.navbar{
    background: rgb(69,174,252);
   width: 700px;
   height: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav__1{
    background-color: #fff;
    width: 400px;
    height: 400px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.nav__1>h3{
    color: rgb(33, 153, 251);
    font-family: Roboto;
    display: flex;
    justify-content: center;
    margin: 20px;
}
.nav__1>input{
    width: 320px;
    margin: 13px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid black;
}
.nav__1>p{
    padding: 15px;
    color: rgb(137, 137, 137);
}
.nav__1>button{
    width: 320px;
    margin: 20px;
    padding: 10px;
    background: linear-gradient(90deg, rgba(57,118,246,1) 0%, rgba(7,249,255,1) 58%, rgba(58,151,180,1) 100%);
}
.text{
    display: flex;
    justify-content: center;
    font-family: Roboto;
}
.text>p{
    color: rgb(69,174,252);
}